#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.div {
  margin-top: 20px;
}

.peliculas {
  display: flex; /*eleva a todos los elementos a la misma linea, los pone en el comienzo de
  la page o bloque en el que se encuentra*/
  align-content: center;
}
