#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h3 {
  margin: 0;
}

.div {
  margin-top: 20px;
}

.catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 5px;
  padding-bottom: 5px;

  border: solid 2px greenyellow;
  border-radius: 15px;

  min-width: 420px;
  background-color: black;
}

.tarjetas {
  display: flex; /*eleva a todos los elementos a la misma linea, los pone en el comienzo de
  la page o bloque en el que se encuentra*/
  align-content: center;

  margin-top: 5px;
  margin-bottom: 5px;

  border: solid 2px blue;
  border-radius: 15px;

  max-width: 400px;
  background-color: black;
}

.contenedor-imagen{
  width: 30%;
  border: solid 2px purple;
  border-radius: 15px;
}

img {
  max-width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.informacion {
  text-align: left;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;

  border: solid 2px red;
  border-radius: 15px;

  width: 70%;
  background-color: rgb(39, 37, 37);
}
